<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='Create New Student')" />
<body>
	<div th:replace="fragments :: header"></div>
	<div align="center">	
		<h1>Add New Student</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${student}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>First Name:</td>
					<td><input type="text" th:field="*{firstname}" class="form-control" /></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" th:field="*{lastname}" class="form-control" /></td>
				</tr>				
				<tr>
					<td>Student ID</td>
					<td><input type="number" th:field="*{stu_id}" class="form-control" /></td>
				</tr>				
				<tr>
					<td>Gender</td>
					<td><input type="text" th:field="*{gender}" class="form-control" /></td>
				</tr>	
								<tr>
					<td>Gender</td>
					<td><input type="text" th:field="*{phone}" class="form-control" /></td>
				</tr>			
				<tr>
					<td colspan="2" align="center">
						<button type="submit" class="btn btn-primary">Save</button>
						<a class="btn btn-dark" th:href="@{/list}">Back</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>