<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: html_head(pageTitle='All Products')" />
<body>
<div class="container">	
	<div th:replace="fragments :: header"></div>
	
	<div class="text-center">
		<h1>List Students</h1>
		<p/>
		<h4><a th:href="@{/new}">Add New Student</a></h4>
		<p/>
	</div>
	
	<table class="table table-striped table-bordered table-hover">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Student ID</th>
				<th>Gender</th>
				<th>Phone Number</th>
				<th>Actions</th>				
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${liststudents}">
				<td th:text="${student.id}">ID</td>
				<td th:text="${student.firstname}">First Name</td>
				<td th:text="${student.lastname}">Last Name</td>
				<td th:text="${student.stu_id}">Student ID</td>
				<td th:text="${student.gender}">Gender</td>
				<td th:text="${student.phone}">Phone Number</td>
				
				<td>
					<a th:href="@{'/edit/' + ${student.id}}">Edit</a>			
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/delete/' + ${student.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div><br/><br/></div>
</div>
</body>
</html>